#span-one {
  margin-left: 50px;
  padding: 100px;
}

#span-two {
  margin-top: 100px;
  padding-right: 50px;
  position: absolute;
}

.p-tags {
  margin: 25px 50px 75px 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
